html{
    font-family: sans-serif;
}

section{
    width: 93%;
    height: 240px;
    margin: 20px auto;
    background: purple;
    display: flex;
}

div{
    color: white;
    background: orange;
    flex: 1;
    margin-right: 10px;
    text-shadow: 1px 1px 1px black;
}

div:last-child{
    margin-right: 0;
}

section, div{
    border: 5px solid rgba(0, 0, 0, 0, 0.85);
}

