body {
    width: 500px;
    margin: 0 auto;
  }
  
  p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
  }

  .positioned1{
      position: relative;
      background: yellow;
      top: 30px;
      left: 30px;
  }

  .positioned2{
      position: absolute;
      background: yellow;
      top: 30px;
      left: 30px;
  }