html{
    font-family: sans-serif;
}

form{
    display: table;
    margin: 0 auto;
}

form div {
    display: table-row;
}

form label, form input{
    display: table-cell;
    margin-bottom: 10px;
}

form label{
    width: 200px;
    padding-right: 5%;
    text-align: right;
}

form input{
    width: 300px;
}

form p{
    display: table-caption;
    caption-side: bottom;
    width: 300px;
    color: #999;
    font-style: italic;
}